hr {
  border-style: dotted none none;
  width: 4%;
  height: 9%;
  border-width: 9px;
  color: blue
}

body {
  background-color: #e3fdfd
}

h1 {
  color: #21209c;
}

h2 {
  color: #fdb827
}

td {
    padding: 30px;
}

a {
  margin: auto;
  width: 60%;

  padding: 10px;
}

.b {
  float: left;
}
